In [1]:
import pandas as pd
import numpy as np

In [2]:
dfHDI=pd.read_csv('hdi.csv', on_bad_lines='skip')
dfGNI=pd.read_csv('gni.csv', on_bad_lines='skip')
dfEdu=pd.read_csv('education_index.csv', on_bad_lines='skip')
dfUnemploy=pd.read_csv('unenployment.csv', on_bad_lines='skip')

In [16]:
dfHDI.dropna(axis='columns',how='all',inplace=True)
dfGNI.dropna(axis='columns',how='all',inplace=True)
dfEdu.dropna(axis='columns',how='all',inplace=True)
dfUnemploy.dropna(axis='columns',how='all',inplace=True)

dfGNIT=dfGNI.transpose()
dfHDIT=dfHDI.transpose()
dfEduT=dfEdu.transpose()
dfUnemployT=dfUnemploy.transpose()

ArabStatesHDI=dfHDI.loc[['Arab States']]
ArabStatesGNI=dfGNI.loc[['Arab States']]
ArabStatesEdu=dfEdu.loc[['Arab States']]
ArabStatesUnemploy=dfUnemploy.loc[['Arab States']]



dfHDI

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Arab States,0.556,0.559,0.565,0.571,0.576,0.581,0.587,0.594,0.599,0.607,...,0.676,0.681,0.687,0.688,0.691,0.695,0.699,0.701,0.703,0.705
East Asia and the Pacific,0.519,0.525,0.534,0.542,0.549,0.559,0.568,0.576,0.581,0.589,...,0.691,0.700,0.707,0.714,0.721,0.727,0.733,0.737,0.741,0.747
Europe and Central Asia,0.652,0.650,0.646,0.643,0.638,0.642,0.646,0.651,0.657,0.660,...,0.735,0.744,0.750,0.759,0.766,0.770,0.772,0.776,0.779,0.791
Latin America and the Caribbean,0.628,0.634,0.639,0.644,0.650,0.656,0.662,0.669,0.675,0.680,...,0.731,0.737,0.740,0.748,0.752,0.754,0.756,0.758,0.759,0.766
South Asia,0.441,0.447,0.454,0.460,0.466,0.473,0.480,0.486,0.492,0.499,...,0.585,0.593,0.601,0.607,0.617,0.624,0.634,0.639,0.642,0.641
Sub-Saharan Africa,0.402,0.404,0.404,0.406,0.407,0.411,0.415,0.418,0.422,0.425,...,0.498,0.505,0.512,0.521,0.527,0.532,0.535,0.539,0.541,0.547
Small Island Developing States,0.595,0.598,0.603,0.608,0.612,0.618,0.624,0.629,0.632,0.638,...,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723,0.728
World,0.598,0.601,0.601,0.608,0.611,0.617,0.622,0.624,0.631,0.636,...,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731,0.737

In [17]:
ArabAverageHDI=dfHDIT['Arab States'].mean()
ArabAverageGNI=dfGNIT['Arab States'].mean()
ArabAverageEdu=dfEduT['Arab States'].mean()
ArabAverageUnemploy=dfUnemployT['Arab States'].mean()

EastAsiaAverageHDI=dfHDIT['East Asia and the Pacific'].mean()
EastAsiaAverageGNI=dfGNIT['East Asia and the Pacific'].mean()
EastAsiaAverageEdu=dfEduT['East Asia and the Pacific'].mean()
EastAsiaAverageUnemploy=dfUnemployT['East Asia and the Pacific'].mean()

EuropeAverageHDI=dfHDIT['Europe and Central Asia'].mean()
EuropeAverageGNI=dfGNIT['Europe and Central Asia'].mean()
EuropeAverageEdu=dfEduT['Europe and Central Asia'].mean()
EuropeAverageUnemploy=dfUnemployT['Europe and Central Asia'].mean()

LatinAverageHDI=dfHDIT['Latin America and the Caribbean'].mean()
LatinAverageGNI=dfGNIT['Latin America and the Caribbean'].mean()
LatinAverageEdu=dfEduT['Latin America and the Caribbean'].mean()
LatinAverageUnemploy=dfUnemployT['Latin America and the Caribbean'].mean()

AfricaHDIAverage=dfHDIT['Sub-Saharan Africa'].mean()
AfricaGNIAverage=dfGNIT['Sub-Saharan Africa'].mean()
AfricaEduAverage=dfEduT['Sub-Saharan Africa'].mean()
AfricaUnemployAverage=dfUnemployT['Sub-Saharan Africa'].mean()

IslandHDIAverage=dfHDIT['Small Island Developing States'].mean()
IslandGNIAverage=dfGNIT['Small Island Developing States'].mean()
IslandEduAverage=dfEduT['Small Island Developing States'].mean()
IslandUnemployAverage=dfUnemployT['Small Island Developing States'].mean()