In [1]:
import pandas as pd
import numpy as np

In [108]:
dfHDI=pd.read_csv('hdi.csv', on_bad_lines='skip')
dfGNI=pd.read_csv('gni.csv', on_bad_lines='skip')
dfEdu=pd.read_csv('education_index.csv', on_bad_lines='skip')
dfUnemploy=pd.read_csv('unenployment.csv', on_bad_lines='skip')

In [112]:
dfHDI.dropna(axis='columns',how='all',inplace=True)
dfGNI.dropna(axis='columns',how='all',inplace=True)
dfEdu.dropna(axis='columns',how='all',inplace=True)
dfUnemploy.dropna(axis='columns',how='all',inplace=True)

dfHDI=dfHDI.transpose()
dfGNI=dfGNI.transpose()
dfEdu=dfEdu.transpose()
dfUnemploy=dfUnemploy.transpose()

dfUnemploy

,1991,1995,2000,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Arab States,11.9,13.7,13.1,11.6,9.6,10.4,10.7,10.6,10.6,10.7,10.5,10.5,10.4,10.9
East Asia and the Pacific,2.4,3.0,3.5,4.5,4.2,4.1,4.1,4.1,4.1,4.1,4.0,3.9,3.9,3.9
Europe and Central Asia,4.8,8.9,10.9,10.2,9.7,9.1,8.8,8.8,9.4,9.3,9.4,9.2,9.2,9.9
Latin America and the Caribbean,6.0,7.8,9.1,7.9,7.0,6.5,6.4,6.3,6.1,6.6,7.8,8.0,8.0,8.1
South Asia,2.8,2.9,3.1,3.5,2.9,2.9,3.2,3.3,3.2,3.4,3.3,3.2,3.2,5.5
Sub-Saharan Africa,7.0,7.5,7.7,7.3,6.5,6.4,6.2,6.1,6.1,6.3,6.5,6.4,6.3,6.4
Small Island Developing States,6.7,7.0,6.4,6.4,6.2,6.5,6.6,6.8,6.4,6.4,6.4,5.9,5.8,5.7
World,4.6,5.6,5.7,5.8,5.6,5.5,5.5,5.5,5.4,5.4,5.4,5.2,5.1,5.6