In [1]:
import pandas as pd
import numpy as np

In [86]:
dfHDI=pd.read_csv('hdi.csv', on_bad_lines='skip')
dfGNI=pd.read_csv('gni.csv', on_bad_lines='skip')
dfEdu=pd.read_csv('education_index.csv', on_bad_lines='skip')
dfUnemploy=pd.read_csv('unenployment.csv', on_bad_lines='skip')

In [89]:
dfHDI.dropna(axis='columns',how='all',inplace=True)
dfGNI.dropna(axis='columns',how='all',inplace=True)
dfEdu.dropna(axis='columns',how='all',inplace=True)
dfUnemploy.dropna(axis='columns',how='all',inplace=True)

dfHDI=dfHDI.transpose()
dfGNI=dfGNI.transpose()
dfEdu=dfEdu.transpose()
dfUnemploy=dfUnemploy.transpose()

dfHDI.transpose()

,Regions,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
,Arab States,0.556,0.559,0.565,0.571,0.576,0.581,0.587,0.594,0.599,...,0.676,0.681,0.687,0.688,0.691,0.695,0.699,0.701,0.703,0.705
,East Asia and the Pacific,0.519,0.525,0.534,0.542,0.549,0.559,0.568,0.576,0.581,...,0.691,0.7,0.707,0.714,0.721,0.727,0.733,0.737,0.741,0.747
,Europe and Central Asia,0.652,0.65,0.646,0.643,0.638,0.642,0.646,0.651,0.657,...,0.735,0.744,0.75,0.759,0.766,0.77,0.772,0.776,0.779,0.791
,Latin America and the Caribbean,0.628,0.634,0.639,0.644,0.65,0.656,0.662,0.669,0.675,...,0.731,0.737,0.74,0.748,0.752,0.754,0.756,0.758,0.759,0.766
,South Asia,0.441,0.447,0.454,0.46,0.466,0.473,0.48,0.486,0.492,...,0.585,0.593,0.601,0.607,0.617,0.624,0.634,0.639,0.642,0.641
,Sub-Saharan Africa,0.402,0.404,0.404,0.406,0.407,0.411,0.415,0.418,0.422,...,0.498,0.505,0.512,0.521,0.527,0.532,0.535,0.539,0.541,0.547
,Small Island Developing States,0.595,0.598,0.603,0.608,0.612,0.618,0.624,0.629,0.632,...,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723,0.728
,World,0.598,0.601,0.601,0.608,0.611,0.617,0.622,0.624,0.631,...,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731,0.737

In [90]:
dfHDI['Arabia Average']=dfHDI['Arab States'].mean()

KeyError: 'Arab States'

In [85]:
dfHDI

,,,,,,,,
Regions,Arab States,East Asia and the Pacific,Europe and Central Asia,Latin America and the Caribbean,South Asia,Sub-Saharan Africa,Small Island Developing States,World
1990,0.556,0.519,0.652,0.628,0.441,0.402,0.595,0.598
1991,0.559,0.525,0.65,0.634,0.447,0.404,0.598,0.601
1992,0.565,0.534,0.646,0.639,0.454,0.404,0.603,0.601
1993,0.571,0.542,0.643,0.644,0.46,0.406,0.608,0.608
1994,0.576,0.549,0.638,0.65,0.466,0.407,0.612,0.611
1995,0.581,0.559,0.642,0.656,0.473,0.411,0.618,0.617
1996,0.587,0.568,0.646,0.662,0.48,0.415,0.624,0.622
1997,0.594,0.576,0.651,0.669,0.486,0.418,0.629,0.624
1998,0.599,0.581,0.657,0.675,0.492,0.422,0.632,0.631
1999,0.607,0.589,0.66,0.68,0.499,0.425,0.638,0.636
2000,0.613,0.597,0.667,0.687,0.505,0.423,0.642,0.641
2001,0.62,0.604,0.672,0.692,0.51,0.426,0.645,0.646
2002,0.624,0.613,0.681,0.696,0.516,0.434,0.649,0.651
2003,0.63,0.623,0.688,0.697,0.527,0.444,0.655,0.657
2004,0.64,0.632,0.695,0.703,0.536,0.451,0.662,0.663
2005,0.647,0.641,0.703,0.707,0.544,0.459,0.668,0.669
2006,0.653,0.652,0.712,0.713,0.554,0.469,0.678,0.676
2007,0.661,0.664,0.718,0.719,0.563,0.477,0.687,0.682
2008,0.667,0.672,0.723,0.726,0.569,0.486,0.692,0.688
2009,0.671,0.681,0.726,0.727,0.575,0.494,0.694,0.691
2010,0.676,0.691,0.735,0.731,0.585,0.498,0.702,0.697
2011,0.681,0.7,0.744,0.737,0.593,0.505,0.706,0.703
2012,0.687,0.707,0.75,0.74,0.601,0.512,0.704,0.708
2013,0.688,0.714,0.759,0.748,0.607,0.521,0.708,0.713
2014,0.691,0.721,0.766,0.752,0.617,0.527,0.712,0.718
2015,0.695,0.727,0.77,0.754,0.624,0.532,0.717,0.722
2016,0.699,0.733,0.772,0.756,0.634,0.535,0.719,0.727
2017,0.701,0.737,0.776,0.758,0.639,0.539,0.722,0.729
2018,0.703,0.741,0.779,0.759,0.642,0.541,0.723,0.731
2019,0.705,0.747,0.791,0.766,0.641,0.547,0.728,0.737

,,,,,,,,,NaN
Regions,Arab States,East Asia and the Pacific,Europe and Central Asia,Latin America and the Caribbean,South Asia,Sub-Saharan Africa,Small Island Developing States,World,NaN
1990,0.556,0.519,0.652,0.628,0.441,0.402,0.595,0.598,NaN
1991,0.559,0.525,0.65,0.634,0.447,0.404,0.598,0.601,NaN
1992,0.565,0.534,0.646,0.639,0.454,0.404,0.603,0.601,NaN
1993,0.571,0.542,0.643,0.644,0.46,0.406,0.608,0.608,NaN
1994,0.576,0.549,0.638,0.65,0.466,0.407,0.612,0.611,NaN
1995,0.581,0.559,0.642,0.656,0.473,0.411,0.618,0.617,NaN
1996,0.587,0.568,0.646,0.662,0.48,0.415,0.624,0.622,NaN
1997,0.594,0.576,0.651,0.669,0.486,0.418,0.629,0.624,NaN
1998,0.599,0.581,0.657,0.675,0.492,0.422,0.632,0.631,NaN
1999,0.607,0.589,0.66,0.68,0.499,0.425,0.638,0.636,NaN
2000,0.613,0.597,0.667,0.687,0.505,0.423,0.642,0.641,NaN
2001,0.62,0.604,0.672,0.692,0.51,0.426,0.645,0.646,NaN
2002,0.624,0.613,0.681,0.696,0.516,0.434,0.649,0.651,NaN
2003,0.63,0.623,0.688,0.697,0.527,0.444,0.655,0.657,NaN
2004,0.64,0.632,0.695,0.703,0.536,0.451,0.662,0.663,NaN
2005,0.647,0.641,0.703,0.707,0.544,0.459,0.668,0.669,NaN
2006,0.653,0.652,0.712,0.713,0.554,0.469,0.678,0.676,NaN
2007,0.661,0.664,0.718,0.719,0.563,0.477,0.687,0.682,NaN
2008,0.667,0.672,0.723,0.726,0.569,0.486,0.692,0.688,NaN
2009,0.671,0.681,0.726,0.727,0.575,0.494,0.694,0.691,NaN
2010,0.676,0.691,0.735,0.731,0.585,0.498,0.702,0.697,NaN
2011,0.681,0.7,0.744,0.737,0.593,0.505,0.706,0.703,NaN
2012,0.687,0.707,0.75,0.74,0.601,0.512,0.704,0.708,NaN
2013,0.688,0.714,0.759,0.748,0.607,0.521,0.708,0.713,NaN
2014,0.691,0.721,0.766,0.752,0.617,0.527,0.712,0.718,NaN
2015,0.695,0.727,0.77,0.754,0.624,0.532,0.717,0.722,NaN
2016,0.699,0.733,0.772,0.756,0.634,0.535,0.719,0.727,NaN
2017,0.701,0.737,0.776,0.758,0.639,0.539,0.722,0.729,NaN
2018,0.703,0.741,0.779,0.759,0.642,0.541,0.723,0.731,NaN
2019,0.705,0.747,0.791,0.766,0.641,0.547,0.728,0.737,NaN